html {
    margin: 0, 0, 0, 0;
    background-color: darkgray;
}

body {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    
}

#logo {
    position: fixed;
    width: 100%;
    display: inline-block;
    margin-bottom: 1%;
    z-index: 2001;
}

.search-container {
    position: fixed;
    width: 100%;
    height: 50px;
    background: black;
    z-index: 2001;
    color: white;
}

.container-fluid {
    background-color: darkgray;
    margin-top: 60px;
}

.content-contain {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.contain {
    width: 100%;
    height: 100%;
    min-height: 200px;
  
    overflow: hidden;
   
     
}

.album-contain {
   
   
    padding-top: 15px;
    padding-bottom: 15px;
overflow: hidden;
}

.text {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    color: white;
    
}

.artist {
    position: relative;
    font-size: 2.5vh;
    font-weight: bold;
}

.color {
    position: relative;
    font-size: 2vh;
}

.art {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.resize {
    width: 100%;
}

.resize-wide {
    min-width: 100%;
    height: 100%;
    opacity: 0.6;
}

.search-header {}

.search-bar {
    display: none;
}